{% extends 'base.html' %}
{% block title %}Password Change {% endblock title %}
{% block content %}
    
    <div id="content-wrap">
    <main>
        <div class="register-section">
            <h2>Password change successful.</h2>
            <p>Your password was changed</p>
           
              <p class="register-footer">
                <hr>
                <a href="{% url 'login' %}" >Now you can login</a>
            </p>
         
        </div>
    </main>
    </div>
  
{% endblock content %}